
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::placeholder
{
    color: $b;
    opacity: 3;
}
::focus
{
    border: none;
    outline: none;
}

.couple
{
    background:#F1F1F1;
    padding: 50px 0px;
    .flex
    {
        flex-wrap: wrap;
    }
}

.sticky{
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 5px 0px;
	width:100%;
	z-index: 999;
	box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
	animation:500ms ease-in-out 0s normal none 1 running fadeInDown; 
}