@import 'var';
@import 'extends';
@import 'miximi';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:lato;
    font-size: 16px;
    color: #616161;
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    margin: auto;
}

header{
    background: $b;
    color: $w;
    padding: 15px 0px;
    .logo
    {
        img
            {
                 height:65px;
            }
    }
    .hphone
    {
        font-size: 29px;
        font-weight:normal;
    }

    .hgmail
    {
        font-size: 29px;
        font-weight:normal;
    }
}

.nav
{
    background: $bl;
   
    ul
    {
      list-style: none;
     
        
        li
        {
            display: inline-block;
            position: relative;

            ul{
                position: absolute;
                display: none;
                top: 100%;
                left: 0px;               
                background: #ccc;
                width: 200px;

            }
            a
            {
                padding:20px 15px;
                color: $w;
                display: block;
                text-decoration: none;
                &:hover
                {
                    background:rgb(9, 75, 12);                   

                }
            }
            &:hover
            {
               ul
               {
                   display: block;
               }
            }
           
        }        

    }
}

.banner
{
    background:url(../img/Slider1.jpg);
    padding: 50px 0px;
    color: $w;
    text-align: center;
    .title
    {
        margin-top: 20px;
        h1
        {
            font-size:30px;
            font-weight: normal;
        }
        p
        {
            padding: 10px 0px;
            font-size: 20px;
            
        }
    }
    .search
    {
        position: relative;
        padding-bottom: 20px;
        input
        {
           
            width: 60%;
            height: 50px;
            border: none;
            outline: none;
            padding: 0px 20px;
        }
        .searchicon
        {       
            position: absolute;
            top: 0px;
            right: 20%; 
            background:$o;
            padding:16px;
            border: none;
            
            i
            {
                color: $w;                
                text-align: center;
                font-size: 20px;
            }    
        }
    }
    
}

.offer
{
    padding: 50px;
}
  .page-title
    {
        position: relative;
        h1
        {
            color: $b;
            font-size:30px;
            font-weight: normal;
            text-transform: uppercase;
            padding:5px 0px 0px 14px;
           
        }
        &:before
        {
            content: '';
           background-color:transparent;
            position: absolute;
            top:0;
            left:0;
            border-top:2px solid $o;
            border-left:2px solid $o;
            width: 25px;
            height: 25px;

        }
        p
        {
            color: rgb(78, 76, 76);
            padding:0px 0px 15px 15px;
            margin: 10px 0px;
           
        }
    }

    .offer-left{
        flex-basis: 48%;
        position: relative;
        img
        {
            width: 100%;
        }
        .offer-inner
            
        {
            position: absolute;
            bottom:5px;
            left: 0;
            color:#FBFBFB;
            z-index: 22;
            width: 100%;
            text-align: center;
            min-height: 70px;
            padding: 20px 10px;
            background:rgba(0,0,0,0.4);

            h1
            {
                font-size: 30px;
                font-weight:normal;
            }
            span
            {
                color: $o;
                padding: 10px 0px;
            }
            p
            {
                font-size: 20px;
                padding: 0 0 10px 0;
            }
            .view
            {
               p
               {
                padding: 8px 20px;
                background: $o;
                border-radius: 20px;
                display: inline-block;
                color: $w;
               }
               
            }
        }

    }

    .trip
   {
       padding: 20px 0px;
   }

.trip-card
{
    flex-basis: 32%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
   border-radius: 3px;
   margin: 10px 0px;
   background: $w;
    

   .card-head
   {
    position: relative;
    img
    {
        width: 100%;
    }

    .card-title
    {
        position: absolute;
        left: 0;
        bottom:5px;
        padding: 15px 15px 20px 15px; 
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        line-height: 1.4em;
        font-size: 18px;
        font-weight: normal;
        color: $w;
        z-index: 111;
        background: rgba(0, 0, 0, 0.4);
      
    }
    .clock
    {
        position:absolute;
        left: 0px;
        top:30px;
        background: $o;
        padding:15px 20px;
        text-align: center;
        color: $w;
        z-index: 111;
    }
   }

   .card-body
   {
       
       padding: 5px 5px 18px 5px;
       font-size: 22px;
       color: $b;
      p{
          padding-left: 15px;
      }
      h3
      {
          padding-left: 30px;

          color: $o !important;
      }
      h6
      {
          margin-right: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          &:hover
          {
              background: $b;
              color: $w;
          }
      }
   }
}

.europe
{
    background: $w;
    padding: 50px 0px;
}

.asia-card-box{
    flex-basis: 48%;
    background: $w;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 10px 0px;
    .asia-card-box-inner
    {
        flex-basis:50%;
        font-size: 15px;
        
        img
        {
            width: 100%;
            height: 100%;

        }

        h3
        {
            color: $b;
            padding-left: 15px;
           
        }
        .vd
        {
            
            padding: 7px 10px;
            margin-left: 15px;
            border: 1px solid #ccc;
            display: inline-block;
            
            
            &:hover
            {
                color: $w;
                background: $b;
            }
        }
        h4{
            padding-left: 15px;
        }
        h2{
            color: $o;
            padding-left: 15px;
        }

    }

}

.sticky{
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 5px 0px;
	width:100%;
	z-index: 999;
	
	animation:500ms ease-in-out 0s normal none 1 running fadeInDown; 
}

